
           html
            {
             height: 100%;
             width: 100%;
            }
            @font-face
                {
                  font-family : 'Hacen';
                  src: url('../HacenExtenderX4Deeper.woff') format('woff');
                    
                }
            
            body
            {
                background:url('../Images/BG.png') repeat-x;
                font-family:'Hacen';
                color:#db1b58;
                
            }
            
	     a
            {
               color:#db1b58;
	       text-decoration:none;
            }
            div#wrapper
            {
              width: 974px;
              min-height: 540px;
	      height:auto;
	      margin-right:auto;
              margin-left:auto;
            
              
            }
	    
	    
	  div#firstheader
	  {
	    width: 974px;
	    height: 29px;
	    
	  }
	  
	  div#firstheader ul
	  {
	    list-style-type:none;
	    margin-left:-35px;
	  }
	  
	  div#firstheader ul li 
	  {
	    float:left;
	    
	  }
	  
	   div#firstheader ul li.b
	  {
	    background:url('../Images/search_bar.png');
	    width:159px;
	    height:27px;
	    
	  }
	  
	   div#firstheader ul li.c
	  {
	    margin-left:20px;
	    
	  }
	  
	  div#header
	  {
	    background:url('../Images/Navigation.png');
	    width: 974px;
	    height: 103px;
	    margin-top:-18px;
	    
	   
	  }
	  
	  div#header ul
	  {
	    list-style-type:none;
	    padding-top:47px;
	    margin-left:45px;
	    font-size:18px;
	    
	  }
	  
	   div#header ul li
	  {
	    list-style-type:none;
	    font-size:18px;
	    text-shadow:1px 1px #c4c4c4;
	    float:left;
	    
	    
	  }
	  
	  
	  
	  div#header ul li.b
	  {
	    margin-left:30px;
	  }
	  div#header ul li.c
	  {
	    margin-left:35px;
	  }
	  div#header ul li.d
	  {
	   margin-left:-27px;
	    
	  }
	  div#header ul li.e
	  {
	    margin-left:-39px;
	    
	  }
	  div#header ul li.f
	  {
	    margin-left:11px;
	  }
	
	   div#header ul li img
	  {
	    
	    margin-left:5px;
	    
	  }
	  
	 
	 
	  
	  div#firstd
	  {
	    background:url('../Images/content1.png') no-repeat;
	    width:834px;
	    height:20px;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:25px;
	  }
	  
	   div#middle
	  {
	    background:url('../Images/content2.png') repeat-y;
	    width:834px;
	    min-height:785px;
	    height:auto;
	    margin-left:auto;
	    margin-right:auto;
	  }
	  
	  div#title
	  {
	    background:url('../Images/title.png') no-repeat;
	    width:417px;
	    height:36px;
	    float:right;
	    margin-right:-14px;
	
	  }
	  
	   div#title span
	  {
	    
	    color:white;
	    float:right;
	    margin-right:55px;
	    margin-top:2px;
	  }
	  
	  div#content
	  {
	    text-align:right;
	    margin-right:15px;
	    margin-top:10px;
	    
	  }
	  
	  div#content a .more
	  {
	    background:url('../images/more.png') no-repeat;
	    float:left;
	    width:80px;
	    height:28px;
	    text-align:center;
	    margin-left:40px;
	    margin-top:30px;
	    
	  }
	  
	
	  
	  div#social
	  {
	    float:left;
	    margin-top:-37px;
	  }
	  div#social ul
	  {
	    list-style-type:none;
	  }
	  
	  
	    div#social ul li.a1
	  {
	    background:url('../Images/sharef.png') no-repeat;
	    width:44px;
	    height:47px;
	    float:left;
	    
	    

	  }
	    div#social ul li.a2
	  {
	    background:url('../Images/sharet.png') no-repeat;
	    width:44px;
	    height:47px;
	    float:left;
	    
	  }
	    div#social ul li.a3
	  {
	    background:url('../Images/sharem.png') no-repeat;
	    width:43px;
	    height:47px;
	    float:left;
	   
	  }
	  
	  
	   div#last
	  {
	    background:url('../Images/content3.png') no-repeat;
	    width:834px;
	    height:31px;
	    margin-left:auto;
	    margin-right:auto;
	  }
	  
	  div#footer
	  {
	    width: 974px;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top:35px;
	    clear:both;
	  }
	  
	  div#footer ul
	  {
	    list-style-type:none;
	  }
	  
	  div#footer ul li
	  {
	    float:left;
	  }
	  
	  div#footer ul li.a
	  {
	    background:url('../Images/map.png');
	    width:253px;
	    height:299px;
	    margin-left:-20px;
	    
	  }
	  
	  div#footer ul li.b
	  {
	    background:url('../Images/calender.png') no-repeat;
	    width:253px;
	    height:298px;
	    margin-left:80px;
	  }
	  
	  div#footer ul li.c
	  {
	    background:url('../Images/latest.png');
	    width:253px;
	    height:298px;
	    margin-left:80px;
	  }
	  
	div#foot2
	{
	   width: 974px;
	   height:50px;
	   margin-left:auto;
	   clear:both;
	   margin-right:auto;
	   
	}
	
	
	/* remove the list style */
	#nav {
		
		list-style:none;
                
	}	
	
		/* make the LI display inline */
		/* it's position relative so that position absolute */
		/* can be used in submenu */
		#nav li {
			float:left; 
			display:block; 
			width:95px; 
			
			position:relative;
			z-index:9999; 
			margin:0 1px;
			border-radius:8px;
			
                        
		}
		
		/* this is the parent menu */
		#nav li a {
			display:block; 
			color:#db1b58;
			height:25px; 
			text-decoration:none; 
			text-align:center; 
			
		}

		
		
		/* submenu, it's hidden by default */
		#nav ul {
			position:absolute; 
			left:-47px; 
			display:none; 
			padding:0; 
			list-style:none;
                        
                        margin-top:-38px;
                        
		}
		
		#nav ul li {
			width:95px; 
			float:left; 
			border-top:1px solid #fff;
                        background:#f4f2f2;
			border:1px groove #a1a1a1;
		}
		
		/* display block will make the link fill the whole area of LI */
		#nav ul a {
			display:block;  
			height:28px;
			padding: 5px 5px;
			
		}
		
		
		/* fix ie6 small issue */
		/* we should always avoid using hack like this */
		/* should put it into separate file : ) */
		*html #nav ul {
			margin:0 0 0 -2px;
		}

div#second
{
  float:right;
  margin-right:35px;
}


div#first ul
{
  list-style-type:none;
  margin-left:-50px;
}
div#first ul li
{
  float:left;
  margin-left:35px;
}

div#contact
{
  width:560px;
  height:301px;
  background:none;
  float:right;
  margin-top:45px;
  border:1px groove #db1e5a;
  border-radius:5px;
  margin-right:40px;
}
 
div#contactform
{
  height:301px;
  width:304px;
  margin-top:45px;
  margin-left:50px;
}
<!--<iframe  width="560" height="301" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=215681375888617776677.0004c3901db8bd9795dd3&amp;ie=UTF8&amp;t=m&amp;ll=30.04521,31.238047&amp;spn=0.002099,0.002682&amp;z=17&amp;output=embed"></iframe>
-->
	